.fullscreen {
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
	width: 100%;
	display: none;
}

.selected {
	background-color: #31b0d5;
	border-color: #269abc;
}

/* hide infowindow 
.gm-style-iw + div {display: none;}
*/

.transportation-btn
{
	display: inline-block;
	text-align: center;
	width: 	24px;
	height: 24px;
	background-image: url(https://s3.amazonaws.com/hongry.xyz/google-directions.png);
}

.trans-btns
{
	margin-bottom: 10px;
}

#walk
{
	background-position: 0px -144px;
}

#drive
{
	background-position: 0px -94px;
}